/* RESET dikit */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}

body {
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}
/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  header h1 {
    font-size: 22px;
    color: #6b705c;
  }

  nav a {
    margin-left: 20px;
    color: #6b705c;
  }

  /* HERO */
  #hero {
    padding: 80px 40px;
    text-align: center;
    background: linear-gradient(180deg, #f7f5f2, #e8e6e1);
  }

#herpo h2 {
    font-size: 36px;
    margin-bottom: 10px;
}

#hero p {
    margin-bottom: 30px;
    color: #555;
}

/* BUTTON + ANIMASI */
button {
    background-color: #6b705c;
    color: #fff;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #a5a58d;
    transform: translateY(-4px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* SECTION UMUM */
section {
    padding: 70px 40px;
}
section h3 {
    font-size: 26px;
    margin-bottom: 15px;
    color: #6b705c;
}

/* MENU */
.menu-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.menu-card {
    background-color: #fff;
    border-radius: 16px;
    transition: transform 0.3s ease;
    padding: 20px;
}

.menu-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
}

.menu-card h4 {
    margin-bottom: 8px;
}

.menu-card span {
    color: #6b705c;
    font-weight: bold;
}

/* TESTIMONI */
#komentar  {
    background-color: #f7f5f2;
}

#formkomentar {
    max-width: 500px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#formkomentar input, #formkomentar textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.komentar-card {
    background-color: #fff;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 15px auto;
    max-width: 500px;
}

/* FOOTER */
footer {    
    text-align: center;
    padding: 30px;
    background-color: #fff;
    color: #777;
    font-size: 14px;
}
